@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
body{
	padding:0;
	margin:0;
	color:#fff;
	font-family:'sans-serif', Arial;
	font-weight:100;
	background-image: url("../img/design3.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center top;
}
h1{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 48px;
	display:inline-block;
	margin:0;
	padding:0;
}
h2{
    display:inline-block;
	margin:24px auto;
	padding:0;
    text-align:center;
}   
header{
	vertical-align: middle;
	line-height:60px;
	height:60px;
    text-decoration:none;
    color:#fff;
}
header a{
    text-decoration:none;
    color:#fff;
}
.container{
	width:70%;
	margin:24px 15%;
}
.menu-right{
	float:right;
	display:inline-block;
	line-height:60px;
	height:60px;
	margin:0;
}
.btn-menu{
	padding:0 24px;
	color:#fff;
	text-decoration: none;
	font-family:'sans-serif', Arial;
	font-weight:100;
	display:inline-block;
	line-height:48px;
	height:48px;
	margin:0;
}
.btn-menu:hover{
	color:#3498db;
}
.standard-form{
    width:100%;
    margin:12px 0;
}
.field{
    min-width: 320px;
    width:30%;
    margin:12px 35%;
    font-size:18px;
    padding:6px;
    border:none;
    border-bottom:1px solid #fff;
    background-color:transparent;
    color:#fff;
    background-color:rgba(0, 0, 0, 0.6);
}
.field::-webkit-input-placeholder{
    color:#fff;
}
.btn-form{
    color:#fff;
    min-width: 240px;
    width:30%;
    margin:12px 35%;
    padding:6px;
    font-size:18px;
    cursor:pointer;
    border:1px solid #8fc400;
    border-bottom:1px solid #fff;
    background-color:#8fc400;
}
.btn-form:hover{
    color:#8fc400;
    background-color:#fff;
}
.title-form{
    display: block;
    text-align:center;
}
.error{
	color:#c0392b;
    font-size:24px;
}
.ok{
	color:#27ae60;
    font-size:24px;
}
.alert{
    background-color:#fff;
    color:#c0392b;
    font-size:24px;
    margin:24px;
}